@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 232, 232);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.key,
.welcome-text {
  border: 1px solid rgb(178, 177, 177);
  background-color: #edecec;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 10px 5px;
  font-weight: 600;
  min-width: 130px;
  position: relative;
}

.insert .key small {
  position: absolute;
  top: -20px;
  left: 0;
  text-align: center;
  width: 100%;
  color: rgb(142, 141, 141);
  font-weight: 500;
  font-size: 13px;
}
